*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 10px;
    background-color: #eae2df;
}

header{
    background-color: #ce472a;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(146,145,200,1) 0%, rgba(9,9,121,1) 0%, rgba(6,78,166,1) 0%, rgba(7,62,156,1) 0%, rgba(6,87,172,1) 0%, rgba(4,134,203,1) 0%, rgba(2,165,224,1) 0%, rgba(1,190,241,1) 0%, rgba(206,71,42,1) 0%, rgba(77,80,101,1) 69%);
}
/* bordes */
article{
    border-radius: 5%;
    display: inline-block;
    position: relative;
}

article h3, p{
    font-size: 1.5rem;
    padding: 5px;
    background-color: #eae2df;
    border-radius: 5px;
}


h1{
    font-size: 4rem;
    color: #f5f0ee;
}

h2{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #f5f0ee;
    background-color: #ce472a;
    font-size: 2rem;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5rem;

}

nav a{
    margin: 0.5rem;
    font-size: 2rem;
    color: #f5f0ee;
    background-color: #535980;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bolder;
    display: flex;
    justify-content: center; 
}

a:hover{
    text-shadow: none;
    color: #ffe1a1;
    background-color: #ce472a;
}

#banner{
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.caja_logo{
    padding: 10px;
    position: absolute;
    z-index: 3;
    width: 15vw;
    height: 40vh;
    border-radius: 10%;
    
}

.logo{
    height: 100%;
    width: 80%;
    object-fit: cover;
    margin-left: 15px;
}


.about{
    display: flex;
    height: max-content;
    flex-direction: column;
    margin-left: 10rem ; margin-right: 5rem;
} 

.texto_about{
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
}

.info{
    background-image: url(./assets/hockey_1.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#fechas{
    font-size: 2.5rem;
    display: flex;
    height: max-content;
    flex-direction: column;
    margin-left: 10rem ; margin-right: 5rem;
}

.info2{
    height: 100vh;
    background-image: url(./assets/hockey_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.info3{
    background-image: url(./assets/hockey_3.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

#email{
    display: flex;
    flex-direction: column;
    margin-left: 10rem ; margin-right: 5rem;
    z-index: 3;
}

/*Game info */
table{
    margin: 5rem;
    width: 70vw;
    height: 50vh;
    border-collapse: collapse;
    border: 2px solid black;
    font-size: 20rem;
    text-align: center;
}

th{
    font-size: 2.5rem;
}

td{
    font-size: 2rem;
}

aside{
    display: flex;
    justify-content: flex-start;
    height: max-content;
    flex-direction: column;
}

aside p, b{
    font-size: 2rem;
    display: flex;

}

aside div{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
}

#dat_cont1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 70rem;
}


#gameinfo{
    background-color: #ce472a;
    text-align: center;
}

#unp{
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-style: italic;
}

/* RULES*/
.caja_section{
    display: flex;
    flex-direction: column;
}

.reglas{
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.general{
    list-style-position: outside;
    margin: 20px;
    font-size: 1rem;
}

ol{
    list-style-type: square;
}

dd, ul, ol{
    margin: 10px;
}

dt{
    font-weight: bold;
}

#h3rules{
    text-align: center;
    font-size: 1.5rem;
}

.data{
    background-color: #f78668;
    border-radius: 5px;
}