*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body{
    font-size: 2rem;
    background-color: #eae2df;
}

header{
    background-color: #ce472a;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(146,145,200,1) 0%, rgba(9,9,121,1) 0%, rgba(6,78,166,1) 0%, rgba(7,62,156,1) 0%, rgba(6,87,172,1) 0%, rgba(4,134,203,1) 0%, rgba(2,165,224,1) 0%, rgba(1,190,241,1) 0%, rgba(206,71,42,1) 0%, rgba(77,80,101,1) 69%);
}
/* bordes */
article{
    border-radius: 5%;
    display: inline-block;
    position: relative;
}

article h3, p{
    font-size: 2.5rem;
    padding: 5px;
    background-color: #eae2df;
    border-radius: 5px;
}


h1{
    font-size: 5rem;
    color: #f5f0ee;
}

h2{
    padding: 0;
    display: block;
    text-align: center;
    color: #f5f0ee;
    background-color: #ce472a;
    font-size: 3rem;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5rem;

}

nav a{
    margin: 0.5rem;
    font-size: 2rem;
    color: #f5f0ee;
    background-color: #535980;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bolder;
    display: flex;
    justify-content: center; 
}

a:hover{
    text-shadow: none;
    color: #ffe1a1;
    background-color: #ce472a;
}

#banner{
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.caja_logo{
    padding: 10px;
    position: absolute;
    z-index: 3;
    width: 15vw;
    height: 40vh;
    border-radius: 10%;
    
}

.logo{
    height: 100%;
    width: 80%;
    object-fit: cover;
    margin-left: 15px;
}


.about{
    display: flex;
    height: max-content;
    flex-direction: column;
    margin-left: 20rem ; margin-right: 5rem;
} 

.texto_about{
    font-size: 2.5rem;
}

.info{
    background-image: url(./assets/hockey_1.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#fechas{
    font-size: 2.5rem;
    display: flex;
    height: max-content;
    flex-direction: column;
    margin-left: 20rem ; margin-right: 5rem;
}

.info2{
    height: 100vh;
    background-image: url(./assets/hockey_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.info3{
    background-image: url(./assets/hockey_3.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

#email{
    display: flex;
    flex-direction: column;
    margin-left: 20rem ; margin-right: 5rem;
    z-index: 3;
}